@import url("normalize.css");
/* roboto-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-500 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v30-cyrillic_latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


html{
	box-sizing: border-box;
}
*,*::before,*::after{
	box-sizing: inherit;
}
body{
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-size: 16px;
	line-height: 1.2;
	font-weight: normal;
	color: #979797;
}
.wrapper{
	max-width: 988px;
	margin:0 auto;
	padding-left:8px;
	padding-right:8px;
}
/*Header styles start*/

.header{
	width:100%;
	height:72px;
	background:#fff;
	top:0;
	left:0;
	box-shadow: 0 2px 10px rgba(21, 24, 36, 0.16);
	z-index:999;
	margin-bottom:10px;
	
}
	

.header_wrapper{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
 	justify-content: space-between;
	
	
}

.header-logo{
	width: 120px;
	height:12.3px;
	margin-right:15px;
	align-items:flex-center;
}
.header-logo-link{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
 	justify-content: space-between;
}

.header_list{
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	align-items: flex-end;
}
.header_nav{
	
}

.header_item{
	margin-right: 16px;
}
.header_item:last-child{
	margin-right: 0;
	margin-bottom:0;
}

.header_button{
	height: 40px;
	width: 78px;
	background-color: white;
	border: 1px solid #E0E0E0;
	border-radius: 2px;
	font-style: Roboto;
	font-size:13px;
	font-weight: 500;	
}
.header_button:hover, .header_button:focus,.header_button:active{
	background: #E0E0E0;
	
}
.header_button_korzina{
	height:72px;
	background: transparent;
	border:0;
	
	
}
.header_active{
	position: fixed;
	background:#fff;
	top:0;
	left:0;
	animation-name:show_header;
	animation-duration:1s;
	
	
}
@keyframes show_header{
	0%{
		opacity:0;
		top:-70px;
	}
	100%{
		opacity:1;
		top:0px;
	}
}
	
/*Header styles end*/

.main{
	margin-top:0px;
	padding-top:22px;
	background: #ffffff;
}

/*Search styles start*/

.search{
	height: 48px;
	color: rgba(98, 98, 98, 0,5);
	font-style: Roboto;
	font-weight: 400;
	font-size:16px;
}
.search-form-info{
	line-height: 24px;
	padding-top:24px;
}
	
.search-form_fild{
	width:962px;
	padding-right:6px;
	background:transparent;
	background-size:20px;
	border:0;
	border-bottom: 2px solid rgba(151, 151, 151, 0.3);
}
/*Search styles end*/

/*Restoran styles start*/

.restoran{
	background:#fff;
	padding-bottom:80px;
	padding-top: 56px;
}

.title_restoran{
	margin-bottom:16px;
	margin-right:15px;
	font-style: Roboto;
	color:#000;
	font-size: 22px;
	line-height: 34px;
    font-weight: 500;
    letter-spacing: 0em;
	text-shadow: #d6d3d3 3px 3px;
   
}
.restoran_cards{
	display:flex;
	flex-wrap:wrap;
	
}
	
.restoran_card{
	margin-bottom: 16px;
	margin-right: 16px;
	max-width:366px;
	min-width:308px;
	height:366px;
	
}

  
 .restoran_card:hover{
    background-color:#eeebeb;
  }




.restoran_card_pic{
	height:256px;
	width:100%;
		
}

.restoran_card_title{
	width:100%;
	text-align: left;
  	font-size: 16px;
    font-weight: 400;
    line-height: 24px;
	color:#1D1D1D;
	
	
}
.card_link{
	text-decoration: none;
}

.card_caption_price{
	text-align: left;
  	font-size: 14px;
    font-weight: 400;
    line-height: 21px;
	color:rgba(98, 98, 98, 1);
}
.rub{
	font-family: Roboto;
	vertical-align: middle;
	border-bottom: 0.07em solid;
	line-height: 0.2em;
	display: inline-block;
	width: 0.5em;
}

.card_caption_time{
	text-align: left;
  	font-size: 13px;
    font-weight: 400;
    line-height: 21px;
	color:#1D1D1D;
}

	


/*Restoran styles end*/



/*footer styles start*/
.footer{
	background:#262626;
	position:relative;
	
	
}
.footer_wrapper{
	max-width:972px;
	margin:0 auto;
	padding-top:56px;
	padding-bottom:40px;
	padding-left:8px;
	padding-right:8px;
	
}
.footer-logo{
	width: 192px;
	height:20px;
	margin-right:15px;
	margin-bottom:20px;
	
}
.hr-line{
	margin-bottom: 20px;
	padding-top: 20px;
	height: 0px;
	border: none;
	border-bottom: 1px solid #979797;
	
}
.footer_info{
	margin-bottom:32px;
}
.dropdown{
	position: relative;
    display: inline-block;
	background: #979797;
	width: 227px;
	height: 40px;
	margin-bottom:32px;
	
}
.dropbtn {
	display:flex;
    padding-top:12px;
	padding-left:16px;
	padding-right:16px;
    cursor: pointer;
	color:#fff;
	font-family: Roboto;
	font-size:13px;
	font-weight:400;
	
}
.lang_img{
	width:16px;
	margin-right:16px;
	
	
	
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #979797;
    width: 227px;
}

.dropbtn::after {
    background: rgba(0, 0, 0, 0) url(../img/curs.png) no-repeat scroll center center;
    content: "";
    height: 8px;
    position: absolute;
    right: 0;
    top: 16px;
    width: 14px;
	margin-right:8px;
}

.dropdown-content a:first-child
{   color:#fff;
	font-family: Roboto;
	font-size:13px;
	font-weight:400;
 
}

.dropdown-content a:last-child
{   color:#fff;
	font-family: Roboto;
	font-size:13px;
	font-weight:400;
} 

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 10px 0 5px 25px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #5c5b5b}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.footer_text{
	font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
	color:#FFFFFF;
}
.net_link{
	width:92px;
	height:60px;
	
}
.net_link_title{
	font-family:Roboto;
	font-size:16;
	font-weight:400;
	color:#fff;
	margin-bottom:16px;
}
.sharp{
	color:#49A144;
}
.net_icon_pic{
	width:24px;
	height:24px;
	
}
.net_link_icon{
	display:flex;
	flex-wrap:wrap;
	align-items: center;
 	justify-content: space-between;
	
	
}
.link_part_text{
	font-family:Roboto;
	font-size:13;
	font-weight:400;
	color:#fff;
	text-decoration:none;
	line-height:16px;
}
.link_part{
	margin-bottom:23px;
}
.link_part_footer{
	padding-top:7px;
}
.data_wiget{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	padding-top:20px;
	margin-bottom:20px;
}
.wiget_pic{
	margin-right:40px;
	height:40px;
}
.footer_end{
	font-family:Roboto;
	font-size:11;
	font-weight:400;
	color:#fff;
	text-decoration:none;
	line-height:13px;
}
.footer_end{
	
	padding-top:20px;
	margin-bottom:0px;
}
.foot_end_link{
	font-family:Roboto;
	font-size:11;
	font-weight:400;
	color:#fff;
	text-decoration:none;
	line-height:13px;
}
.footer_btn{
	position:absolute;
	bottom:0;
	right:0;
	
}


/*footer styles end*/





